.event-thumbnail {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  padding: 1rem;
  border: none;
  border-radius: $radius;
  box-shadow: $shadow-3;

  &__name {
    max-width: calc(100% - 2rem);
    width: 80%;
    border-radius: $radius;
    padding: 0.5rem 1rem;
    @include absolute-center;
    @include font-h2;
    color: $white;
    text-align: center;
    background: rgba(#000, 0.7);
  }

  .event-cover {
    border-radius: $radius;
    height: 180px;
  }
}
