.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: $radius;
  transition: box-shadow 0.3s ease;
  background-size: 600%;
  outline: none;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
  min-height: 40px;
  @include font-caption;
  -webkit-tap-highlight-color: transparent;

  &--primary {
    color: $white;
    background-image: $gradient-primary;
    @include rotate-button;

    &:hover {
      box-shadow: $shadow-1;
    }

    &:focus {
      box-shadow: $shadow-2;
    }

    &:disabled {
      color: $dark;
      background: $light-grey;
      animation: none;
    }
  }
}