.event-map--container {
  height: 400px;
  margin-top: 1rem;
}

.event-map--element,
.event-map--loading-element {
  height: 100%;
}

@media screen and (min-width: $breakpoint-md) {
  .event-map--container {
    margin-top: 2rem;
  }
}
