@mixin font-sub {
  font-size: 0.5rem;
  font-weight: 400;
}

@mixin font-caption {
  font-size: 0.75rem;
  font-weight: 500;
}

@mixin font-base {
  font-size: 1rem;
  font-weight: normal;
}

@mixin font-h1 {
  font-size: 2.25rem;
  font-weight: bold;
}

@mixin font-h2 {
  font-size: 1.875rem;
  font-weight: bold;
}

@mixin font-h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

@mixin font-h4 {
  font-size: 1.25rem;
  font-weight: normal;
}

@mixin trans($properties...) {
  transition: $properties 0.3 ease;
}

@mixin rotate-button {
  animation: rotate 16s linear infinite;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}