.map-marker {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;

  &__text {
    position: absolute;
    top: -1rem;
    right: -1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 1px solid $white;
    border-radius: $radius;
    background: $dark;
    color: $light-grey;
    @include font-caption;
  }

  > .map-marker__icon {
    width: 1rem;
    height: 1rem;
  }
}